[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
uvicorn = "*"
httpx = "*"
aiofiles = "*"
quart-cors = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
bitsandbytes = "*"
accelerate = {git = "git+https://github.com/huggingface/accelerate.git"}
scipy = "*"
optimum = "*"
transformers = {ref = "72958fcd3c98a7afdc61f953aa58c544ebda2f79", git = "git+https://github.com/huggingface/transformers.git"}

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
